* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  background: $background_default;
  line-height: 1.5;
}

a {
  color: #1EA362;
}

nav a, button {
  min-width: 48px;
  min-height: 48px;
}

img, embed, object, video { max-width: 100%; }

img { width: 100%; }

button::-moz-focus-inner {
  border: none;
}

.container-fluid {
  max-width: 1024px;
}

@media only screen and (min-width: $screen_sm) {

}

@media only screen and (min-width: $screen_md) {

}

@media only screen and (min-width: $screen_lg) {

}