* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  color: $color_base;
}

body {
  background: $background_default;
  line-height: 1.5;
}

a {
  color: #1EA362;
}

nav a, button {
  min-width: 48px;
  min-height: 48px;
}

img, embed, object, video { max-width: 100%; }

img { width: 100%; }

hr { border-bottom: 3px solid $color_muted; }

a {
  color: $color_base;
  text-decoration: none;
}

a:hover { color: $color_primary; }

button::-moz-focus-inner {
  border: none;
}

.container-fluid {
  max-width: 1024px;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-uppercase { text-transform: uppercase; }
.text-thin { font-weight: lighter; }
.text-strong { font-weight: bolder; }
.text-muted { color: $color_muted }