@media (max-width: $screen_xsmall) {
  .header { background: red; }
}

@media (min-width: $screen_small) {
  .header { background: blue; }
}

@media (min-width: $screen_medium) {
  .header { background: green; }
}

@media (min-width: $screen_big) {
  .header { background: $base_bg_color; }
}