.logo {
  min-width: 100%;
  max-width: 100%;
  height: 115px;
}

.logo__icon {
  display: block;
  margin: 0 auto;
  min-width: 48px;
  max-width: 30%;
  min-height: 100%;
  background: url('/images/udacity.svg') no-repeat;
  background-position: center center;
}

.header__title {
  
  text-align: center;
  
  h1 {
    margin: 0;     
    font-size: 2em; 
  }

  h4 { 
    margin: 0; 
    font-size: 1em;
    margin-bottom: 15px;
  }

}

@media only screen and (min-width: 348px) {

  .logo { 
    min-width: auto;
    max-width: 30%;
    height: 69px;
    margin-left: 0; 
  }

  .logo__icon {
    margin-left: 0;
    background-position: left center;
  }

  .header__title {
    
    text-align: right;

    h1 { font-size: 1.7em; }
    h4 { 
      font-size: 1em;
      margin-bottom: 0px;
    }
  }

}

@media only screen and (min-width: 768px) {
  .logo { height: 100px; }
  .logo__icon {
    max-width: 78px;
  }
  .header__title {
    h1 { font-size: 3em; }
  }
}