header {
  margin-bottom: 10px;
  margin-bottom: 0px;
}

.logo {
  min-width: 100%;
  max-width: 100%;
  height: 115px;
}

.logo__icon {
  display: block;
  margin: 0 auto;
  min-width: 48px;
  max-width: 30%;
  min-height: 100%;
}

.header__title {
  
  text-align: center;
  
  h1 {
    margin: 0;     
    font-size: 2em; 
    font-weight: 300;
  }

  h4 { 
    margin: 0; 
    font-size: 1em;
    margin-bottom: 15px;
    margin-top: -8px;
  }

}

@media only screen and (min-width: 348px) {
  
  header {
    margin-bottom: 5px;
    margin-top: 10px;
  }
  
  .logo { 
    min-width: auto;
    max-width: 30%;
    height: 69px;
    margin-left: 0; 
  }

  .logo__icon { margin-left: 0; }

  .header__title {
    
    text-align: right;

    h1 { 
      font-size: 2em; 
      margin-top: 5px;
    }
    h4 { 
      font-size: 0.7em;
      margin-bottom: 0px;
    }
  }

}

@media only screen and (min-width: 768px) {
  .logo { 
    margin-top: 16px; 
  }
  .logo__icon {
    max-width: 78px;
  }
  .header__title {
    h1 { font-size: 3em; }
    h4 { font-size: 1.2em; }
  }
}