// Colors
$color_base: #2d3c49;
$color_muted: #7d97ad;
$color_primary: #02b3e4;

// Backgrounds
$background_default: white;

// Screen sizes
$screen_xs:  0em;
$screen_sm: 48em;
$screen_md: 62em;
$screen_lg: 75em;