// Colors
$color_base: #7d97ad;
$color_muted: #7d97ad;
$color_primary: #7d97ad;

// Backgrounds
$background_default: white;

// Screen sizes
$screen_xs:  0em;
$screen_sm: 48em;
$screen_md: 62em;
$screen_lg: 75em;